body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
Color Palette (Accents are from grey palette):
Base    Accent  Accent 
#FFEBD3 #504538 #B6A99A
#D7D0AF #4A4737 #B0AB99 
#ACB691 #444839 #A9AD9B
#7D9D7A #3E4A3D #A1AF9F
#4B846A
#006B60


#FFEBD3 #504538 #B6A99A
#FFC1B5 #56423E #56423E
#FE8A80 #57423F #BFA6A2

#FFEBD3 #504538 #B6A99A
#C28500 #504538 #B7A99A
#402E32

**/
